.home{
     background-image: url("../../public/AM-Natural-Living-My-Recipe-Book-For-Own-Recipes-Top-Down-View-With-Photo-1.png");
  background-size: 100% 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
}